Lista\ 1/01-Extremamente\ Básico/ex1001
Lista\ 1/01-Extremamente\ Básico/.DS_Store

Lista\ 1/02-Área\ do\ Círculo/ex1002
Lista\ 1/02-Área\ do\ Círculo/.DS_Store

Lista\ 1/03-Soma\ Simples/ex1003
Lista\ 1/03-Soma\ Simples/.DS_Store

Lista\ 1/04-Produto\ Simples/ex1004
Lista\ 1/04-Produto\ Simples/.DS_Store

Lista\ 1/05-Média\ 1/ex1005
Lista\ 1/05-Média\ 1/.DS_Store

Lista\ 1/06-Média\ 2/ex1006
Lista\ 1/06-Média\ 2/.DS_Store

Lista\ 1/07-Diferença/ex1007
Lista\ 1/07-Diferença/.DS_Store

Lista\ 1/08-Salário/ex1008
Lista\ 1/08-Salário/.DS_Store

Lista\ 1/09-Salário\ com\ Bônus/ex1009
Lista\ 1/09-Salário\ com\ Bônus/.DS_Store

Lista\ 1/10-Cálculo\ Simples/ex1010
Lista\ 1/10-Cálculo\ Simples/.DS_Store

Lista\ 2/01-Esfera/ex1011
Lista\ 2/01-Esfera/.DS_Store

Lista\ 2/02-Área/ex1012
Lista\ 2/02-Área/.DS_Store

Lista\ 2/03-O\ Maior/ex1013
Lista\ 2/03-O\ Maior/.DS_Store

Lista\ 2/04-Consumo/ex1014
Lista\ 2/04-Consumo/.DS_Store