Extremamente\ Básico/ex1001
Extremamente\ Básico/.DS_Store

Área\ do\ Círculo/ex1002
Área\ do\ Círculo/.DS_Store

Soma\ Simples/ex1003
Soma\ Simples/.DS_Store

Produto\ Simples/ex1004
Produto\ Simples/.DS_Store

Média\ 1/ex1005
Média\ 1/.DS_Store

Média\ 2/ex1006
Média\ 2/.DS_Store

Diferença/ex1007
Diferença/.DS_Store

Salário/ex1008
Salário/.DS_Store

Salário\ com\ Bônus/ex1009
Salário\ com\ Bônus/.DS_Store

Cálculo\ Simples/ex1010
Cálculo\ Simples/.DS_Store
