Lista\ 1/Extremamente\ Básico/ex1001
Lista\ 1/Extremamente\ Básico/.DS_Store

Lista\ 1/Área\ do\ Círculo/ex1002
Lista\ 1/Área\ do\ Círculo/.DS_Store

Lista\ 1/Soma\ Simples/ex1003
Lista\ 1/Soma\ Simples/.DS_Store

Lista\ 1/Produto\ Simples/ex1004
Lista\ 1/Produto\ Simples/.DS_Store

Lista\ 1/Média\ 1/ex1005
Lista\ 1/Média\ 1/.DS_Store

Lista\ 1/Média\ 2/ex1006
Lista\ 1/Média\ 2/.DS_Store

Lista\ 1/Diferença/ex1007
Lista\ 1/Diferença/.DS_Store

Lista\ 1/Salário/ex1008
Lista\ 1/Salário/.DS_Store

Lista\ 1/Salário\ com\ Bônus/ex1009
Lista\ 1/Salário\ com\ Bônus/.DS_Store

Lista\ 1/Cálculo\ Simples/ex1010
Lista\ 1/Cálculo\ Simples/.DS_Store

Lista\ 2/Esfera/ex1011
Lista\ 2/Esfera/.DS_Store
